console-message {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  justify-content: left;
}

.console-message__content-container {
  flex-direction: row;
  align-items: center;
}

.console-message__head-container {
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
}

.console-message__time {
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}

.console-message__row-start-sign {
  margin-bottom: 0;
  width: 4px;
  height: 13px;
  margin-right: 5px;
  height: 100%;
}

.console-message__text {
  padding: 0px;
  margin: 0px;
}
