console-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.console-message__row-start-sign {
  margin-bottom: 0;
  width: 4px;
  height: 13px;
  margin-right: 5px;
  background-color: red;
}

.console-message__text {
  padding: 0px;
  margin: 0px;
}
