.dashboard__nav-container{
  padding-top: 5px;
  flex-direction: column;
}

.dashboard__container {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

/**LEFT WINDOW**/

.dashboard__left-window {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 40%;
  margin-left: 5px;
  transition: flex 1s;
}

.dashboard__console-container {
  flex: 1;
  align-items: stretch;
  flex-direction: column;
}

.dashboard__expanded-window{
  flex: 1;
  transition: flex 1s;
  margin-right: 5px;
}

/**RIGHT WINDOW**/

.dashboard__right-window {
  display: flex;
  flex: 0 0 60%;
  transition: flex 1s;
}

.dashboard__hide-window{
  flex: 0 0 0%;
  transition: flex 1s;
}

.dashboard__right-window-menu {
  margin-left: 10px;
}

.dashboard__right-window-menu-item {
  cursor: pointer;
  text-decoration: none;
}

.dashboard__right-window-menu-item-icon {
  font-size: 1.8rem;
}
