<template>
  <!-- Requirements -->
  <require from="./dashboard.css"></require>

  <!-- Child components-->
  <div class="dashboard__container">
    <div class="dashboard__left-window ${expansionMode === true ? 'dashboard__expanded-window' : ''}">
      <div class="dashboard__nav-container d-flex">
        <dashboard-nav class="d-flex" expand.two-way="expansionMode"></dashboard-nav>
        <hr class="mt-0">
      </div>
      <div class="dashboard__console-container">
        <console class="dashboard__console d-flex"></console>
      </div>
    </div>
    <div class="dashboard__right-window flex-row ${expansionMode === true ? 'dashboard__hide-window' : ''}">
      <div class="dashboard__right-window-menu flex-column">
        <a class="dashboard__right-window-menu-item">
          <i class="dashboard__right-window-menu-item-icon fas fa-cubes"></i>
        </a>
      </div>
    </div>
  </div>
</template>
