<template>
  <!-- Requirements -->
  <require from="./dashboard-menu.css"></require>

  <!-- Child components-->
  <div class="dashboard-menu__container d-flex flex-column">
    <a class="dashboard-menu__item" click.delegate="menuItemClicked('agents-view')">
      <i class="dashboard-menu__item-icon fas fa-cubes"></i>
      <div class="dashboard-menu__item-tooltip-container"><p>Intelligent Agents</p></div>
    </a>
    <a class="dashboard-menu__item mt-2" click.delegate="menuItemClicked('files-view')">
      <i class="dashboard-menu__item-icon fas fa-folder"></i>
      <div class="dashboard-menu__item-tooltip-container" ><p>Files</p></div>
    </a>
    <a class="dashboard-menu__item mt-2" click.delegate="menuItemClicked('logs-view')">
      <i class="dashboard-menu__item-icon fas fa-history"></i>
      <div class="dashboard-menu__item-tooltip-container" ><p>Log</p></div>
    </a>
  </div>
</template>
