.dashboard__nav-container {
  padding-top: 5px;
  flex-direction: column;
}

.dashboard__container {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  height: 100%;
}

/**LEFT WINDOW**/

.dashboard__left-window {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 40%;
  margin-left: 5px;
  transition: flex 1s;
}

.dashboard__console-container {
  margin-top: auto;
  height: 100%;
  overflow: hidden;
}

.dashboard__expanded-window {
  flex: 1;
  transition: flex 1s;
  margin-right: 5px;
}

/**RIGHT WINDOW**/

.dashboard__right-window {
  display: flex;
  flex: 0 0 60%;
  transition: flex 1s;
  align-items: center;
}

.dashboard__hide-window {
  flex: 0 0 0%;
  transition: flex 1s;
}

.dashboard__right-window-view-container {
  flex: 0 0 90%;
  height: 100%;
}

.dashboard__right-window-view-title {
  margin-top: 12px;
}
