<template>
  <!-- Requirements -->
  <require from="./dashboard-menu.css"></require>

  <!-- Child components-->
  <div class="dashboard-menu__container d-flex flex-column">
    <a class="dashboard-menu__item">
      <i class="dashboard-menu__item-icon fas fa-cubes"></i>
    </a>
    <a class="dashboard-menu__item mt-2">
      <i class="dashboard-menu__item-icon fas fa-folder"></i>
    </a>
    <a class="dashboard-menu__item mt-2">
      <i class="dashboard-menu__item-icon fas fa-history"></i>
    </a>
  </div>
</template>
