files-view {
  display: flex;
  flex: 1;
  width: 100%;
}

.files-view__file-upload {
  width: 500px;
}

.files-view__container {
  flex: 1;
}

.files-view__upload-section-header {
  max-width: 350px;
}

.files-view__upload-section-header-icon {
  align-self: center;
  font-size: 1.2rem;
}

.files-view__upload-section-header-label {
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

.files-view__upload-section-header-file-count {
  margin-left: auto;
  margin-bottom: 0px;
  padding: 0px;
}
