<template>
  <!-- Requirements -->
  <require from="./files-view.css"></require>

  <!-- Child components-->
  <div class="files-view__container d-flex flex-column">
    <div class="files-view__upload-section d-flex flex-column">
      <file-upload class="files-view__file-upload" label="Upload files" files.two-way="files" description="Choose a file or drag it here"></file-upload>
      <hr>
    </div>
    <div class="files-view__uploaded-files-container d-flex flex-row flex-wrap mr-2">
      <div class="files-view__file d-flex flex-column mr-2" repeat.for="file of files">
        <p class="h4 m-0 p-0">File</p>
        <p>${file.name}</p>
      </div>
    </div>
  </div>
</template>
