<template>
  <!-- Requirements -->
  <require from="./instructions.css"></require>

  <!-- Child components-->
  <div class="instructions__container d-flex d-row">
    <div class="instructions__documentation col-sm-6">
      <div class="instructions__documentation-container d-flex">
        <p class="instructions_text pt-2"><b>Documentation</b></p>
        <p class="instructions_text">
          This application provides simple comprehensive functionalities for testing different intelligent agents. The main purpose of the application is to highlight differences between different
          intelligent agent classes that are <b>reflex agents</b>, <b>model-based reflex agents</b>, <b>goal-based agents</b> and <b>utility agents</b>.
        </p>
        <p class="instructions_text">
          A reflex agent is a simple agent which reacts to perceptions according to its if-then rule table. A if-then rule table is made of conditions and their actions. For example a reflex agent may
          have such if-then rule as execute action WARM_UP if temperature is under 22 celcius degrees.
        </p>
        <p class="instructions_text">
          A model-based reflex agent is a type of agent which reacts to perceptions according to its if-then rule table and environment model. This type of agent is much more developed than simple
          reflex agent and it keeps a detailed state of its environment. Thus, it doesn't only use if-then table but also information about its state to make decisions.
        </p>
        <p class="instructions_text">
          A goal-based agent is a type of agent which has a goal instead of if-then table. It uses the state about its environment, perceptions and internal knowledge to choose actions which takes it
          closer to its goal.
        </p>
        <p class="instructions_text">
          An utility agent differs from other agents with its utility function which selects an action based on usefulness and goal. Unlike a goal-based agent it measures its actions and chooses the
          most optimal ones.
        </p>
        <p class="instructions_text pt-1"><b>Instructions for creating a sample reflex agent</b></p>
        <p class="instructions_text mb-0 mt-0">Phase 1 - Create an empty text (txt) file on your Desktop. Write following if-then rule</p> <br><p><em><u>id 1 target temperature rule &lt;22 action warmUp</u></em> and then save file. </p>
        <p class="instructions_text mb-0 mt-0">Phase 2 - Write <em><u>upload</u></em> to terminal. Then press enter. Select the text file you just created.</p>
        <p class="instructions_text mb-0 mt-0">Phase 3 - Create an agent with following instruction <em><u>create agent -file 0 -class reflex</u></em></p>
        <p class="instructions_text mb-0 mt-0">Phase 4 - Run agent with following instruction <em><u>run agent AGENTID</u></em>. Replace AGENTID with the id of recently created agent.</p>
        <p class="instructions_text mb-0 mt-0">Phase 5 - Generate a perception with following instruction <em><u>generate perception id ID target TARGET value VALUE</u></em>.</p><br><p>Replace ID, TARGET and VALUE with real ones.</p>
        <p class="instructions_text mb-0 mt-0">Phase 6 - Open logs-view and read the log(s) the agent wrote.</p>
      </div>
    </div>
    <div class="instructions__tables col-sm-6">
      <div class="instructions__documentation-container d-flex p-2">
        <table>
          <tr>
            <th>Intelligent agent class</th>
            <th>Perception model</th>
            <th>If-then rule model</th>
            <th>Examples</th>
          </tr>
          <tr>
            <td>Reflex agent</td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> VALUE <em>NUMBER</em></td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> RULE <em>[&lt; | &gt; | =]</em> <em>NUMBER</em> ACTION <em>STRING</em></td>
            <td>
             <b>Perception sample</b></br>
              <p>generate perception id 1 target temperature value 22</p></br>
              <b>Rule sample</b></br>
              <p>id 1 target temperature rule &lt;22 action warm_up</p></br>
            </td>
          </tr>
          <tr>
            <td>Model-based reflex agent</td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> VALUE <em>NUMBER</em></td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> RULE <em>[&lt; | &gt; | =]</em> <em>NUMBER</em>:<em>NUMBER</em> ACTION <em>STRING</em></td>
            <td>
              <b>Perception sample</b></br>
              <p>generate perception id 1 target temperature value 22</p></br>
              <b>Rule sample</b></br>
              <p>id 1 target temperature rule &lt;22:500 action warm_up</p></br>
            </td>
          </tr>
          <tr>
            <td>Goal-based agent</td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> VALUE <em>NUMBER</em></td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> RULE <em>NUMBER</em> ACTION <em>STRING</em>:<em>STRING</em></td>
            <td>
              <b>Perception sample</b></br>
              generate perception id 1 target temperature value 22</br>
              <b>Rule sample</b></br>
              id 1 target temperature rule 22 action warm_up:cool_down</br>
            </br>
            If temperature is beloew 22 degrees, the warm_up action will be called. </br>
            If temperature is above 22 degrees, the cool_down action will be called.
            </td>
          </tr>
          <tr>
            <td>Utility-based agent</td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> VALUE <em>NUMBER</em></td>
            <td>ID <em>NUMBER</em> TARGET <em>STRING</em> RULE <em>NUMBER</em> ACTION <em>STRING</em>:<em>STRING</em></td>
            <td>
              <b>Perception sample</b></br>
              generate perception id 1 target temperature value 22</br>
              <b>Rule sample</b></br>
              id 1 target temperature rule 22 action warm_up:cool_down</br>
            </br>
            If temperature is below 22 degrees and it slowly increase, the warm_up action will be called. </br>
            If temperature is above 22 degrees and it slowly decrease, the cool_down action will be called.
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
