<template>
  <!-- Requirements -->
  <require from="./landing.css"></require>

  <!-- Child components-->
  <div class="landing__text-container">
    <p class="landing__text-p h3">Welcome to homepage of Simple IA Application</p>
    <hr>
    <p class="landing__text-p mt-2 h5">The Simple IA Application is a small and simple web application intended for testing intelligent agents with different agent programs.</p>
    <p class="landing__text-p mt-2 h5">The application has a dashboard with terminal and views for monitoring agents, files and logs.</p>
    <hr style="color: transparent" >
    <hr style="color: transparent" >
    <hr style="color: transparent" >
    <p class="landing__text-p mt-2 h5">Download documentation from this&nbsp;<a href="../exerciseproject.pdf" download>link</a>&nbsp;(final version in finnish)</p>
  </div>
</template>
