terminal-line {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  justify-content: left;
}

.terminal-line__content-container {
  flex-direction: row;
  align-items: center;
}

.terminal-line__head-container {
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
}

.terminal-line__time {
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}

.terminal-line__row-start-sign {
  margin-bottom: 0;
  width: 4px;
  height: 13px;
  margin-right: 5px;
  height: 100%;
}

.terminal-line__text {
  padding: 0px;
  margin: 0px;
}

.terminal-line__delete-icon {
  font-size: 14px;
  color: gray;
}

.terminal-line__icon-span {
  margin-left: auto;
}
