<template>
  <!-- Requirements -->
  <require from="./terminal-line.css"></require>

  <!-- Content -->
  <div class="terminal-line__head-container d-flex flex-nowrap">
    <p class="terminal-line__time d-flex m-0 p-0">${_time}</p>
    <div class="terminal-line__icons-container mr-1">
      <span class="terminal-line__icon-span" click.delegate="_openInfo()"><i class="terminal-line__default-icon fas fa-info-circle ctpoh"></i></span>
      <span class="terminal-line__icon-span" click.delegate="_deleteLine()"><i class="terminal-line__default-icon fas fa-trash-alt ctpoh"></i></span>
    </div>
  </div>
  <div class="terminal-line__content-container d-flex">
    <div
      class="terminal-line__row-start-sign"
      style="background-color: ${_color};"
    >&nbsp;</div>
    <p class="terminal-line__text">${_text}</p>
  </div>
</template>
